#home {
  background-image: url("../images/paris.jpg");
  background-size: cover;
  color: white;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}
 #cards-wrapper {
  padding: 100px 0;
  background-color: white;
  h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }
 }

.cards  {
  display: flex;
  justify-content: space-between;
}
