// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #338DEC;
$yellow: #FDB631;
$orange: #da552f;
$green: #32B796;
$gray: #616668;
$light-gray: #F4F4F4;
$gray-inactive: #999999;
$gray-active: #4A4A4A;
$transparent-gray: rgba(0,0,0,0.3);
$border-gray: #E6E6E6;
